
<!DOCTYPE html>
<html>
<head>
<title>Creative Colorlib SignUp Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/css/register-style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
<link rel="stylesheet" href="popupS.css">
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1 style="color: white">SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				
				
				<form action="users/signup" method="POST" novalidate>
					
					
					<% if (flashMessages) { %>
						<%   if(flashMessages.error) { %>
						  <div class="alert alert-danger" role="alert">
							<%= flashMessages.error  %>  </div>
								<% } %>
								<%  if(flashMessages.success) { %>
									<div class="alert alert-danger" role="alert">
									  <%= flashMessages.success  %>  </div>
										  <% } %>
								 <% } %>
					<input class="text" type="text" name="username" placeholder="Username" required="true">
					<br><label style=" color: white; font-weight: 600;">Choose User Role: </label>
					
					<div class="box">
					<select   name="role">
						<option name="customer"> Customer</option>
						<option name="seller">Seller</option>
						  </select> </div>

						<p class="p_mess" value=" " ></p>

				    <input class="text email" type="email" name="email" placeholder="Email" required="true">
					<input class="text" type="password" name="password" placeholder="Password" required="true">
					<input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="true">
				  												
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="true">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNUP" id="submit">
				</form>
				<p>Don't have an Account? <a href="/login"> Login Now!</a></p>
			</div>
		</div>
			
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
</html>